page-menu {
    body{
        font-family:Lato;
    }
    .toolbar-title-md {
        padding: 0 0px;
        font-size: 20px;
        font-weight: 300;
        color: #ffffff;
        margin: 0 20%;
    }
    .toolbar-background-md {
        border-color: #b2b2b2;
        margin: 0;
        padding: 15px 0px;
        text-align: center;
        color: #fff;
        font-size: 22px;
        font-family: Titillium Web;
        background: linear-gradient(to right, #e46760 , #efb88b);
        font-weight: 300;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
    .menu-banner{
        width: 100%;
        float: left;
    }
    .menu-row{
        width: 100%;
        margin: 4% 0;
        float: left;
    }
    .tabs{
        width: 100%;
        float: left;
    }
    .tab-item{
        color: #fff;
        padding: 4% 0% 4% 10%;
        font-size: 16px;
        background: #e56d5f;
        position: relative;
        top: -4px;
        width: 33.33%;
        float: left;
        border-top: 3px solid #e56d5f;
    }
    .menu-menu{
        background: #ebebeb;
        text-align: center;
        color: #000;
        font-weight: 500;
        font-size: 14px;
        margin: 3px;
    }
    .menu-img{
        width: 50%;
        padding: 5% 0px 0 0;
        margin: 0 25%;
    }
    .clear{
        clear:both;
    }
    .active{
        border-top: 3px solid #fff;
     }
}