page-first {

    body{
        font-family:Lato;
    }
    .logo-img{
        width: 100%;
        margin: 40% 2%;
    }
    .w3-animate-zoom {
        animation: animatezoom 2.0s;
    }

    }