page-first {

    body{
        font-family:Lato;
    }
    .logo-img{
        width: 45%;
        margin: 70% 30%;
    }
    .w3-animate-zoom {
        animation: animatezoom 1.5s;
    }

    }