page-product {
    .toolbar-title-md {
        padding: 0 0px;
        font-size: 20px;
        font-weight: 300;
        color: #ffffff;
        margin: 0 20%;
    }
    .toolbar-background-md {
        border-color: #b2b2b2;
        margin: 0;
        padding: 15px 0px;
        text-align: center;
        color: #fff;
        font-size: 22px;
        font-family: Titillium Web;
        background: linear-gradient(to right, #e46760 , #efb88b);
        font-weight: 300;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
    .cart{
        width:100%;
        float:left;
    }
    .cart1{
        width:30%;
        float:left;
        margin: 10px 4px;
        text-align: center;
    }
    .star1{
        color:#dac764 !important;
    }
    .cart1 h2{
        margin: 5px 0;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
    }
    .cart1 span{
        font-size:12px;
    }
}
