<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Benkey Bazaar</ion-title>
  </ion-navbar>
</ion-header>
  
  <ion-content padding>
    
    <ion-slides class="image-slider" loop="true" pager autoplay=1500>
        <ion-slide *ngFor="let img of images">
          <img src="assets/imgs/banner/{{img}}" class="thumb-img" imageViewer/>
        </ion-slide>
      </ion-slides>

      <ion-slides class="image-slider" loop="true" slidesPerView="2" autoplay>
        <ion-slide *ngFor="let pic of pictures">
            <div class="slider-title">Fruits & Vegitables</div>
          <img src="assets/imgs/slider/{{pic}}" class="thumb-img slide-padding" (click)="goto()"/>
          <button class="shopnow" (click)="goto()">Shop Now</button>
        </ion-slide>
      </ion-slides>

      <ion-slides class="image-slider" loop="true" slidesPerView="2" autoplay>
          <ion-slide *ngFor="let baby of babycare">
              <div class="slider-title">Baby Care</div>
            <img src="assets/imgs/slider/{{baby}}" class="thumb-img slide-padding" (click)="goto()"/>
            <button class="shopnow" (click)="goto()">Shop Now</button>
          </ion-slide>
      </ion-slides>
      
  </ion-content>