ion-backdrop.backdrop-no-tappable {
    cursor: auto;
    opacity: 0 !important;
}
.loading-md .loading-spinner + .loading-content {
    margin-left: 16px;
    font-size: 16px;
}
page-banner {
   
}
