page-signup {
    body{
        font-family:Lato;
    }
    .item-md {
        font-size: 16px !important;
    }
    ion-app.md {
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        font-size: 18px !important;
        background-color: #fff;
    }
    .toolbar-title-md {
        padding: 0 0px;
        font-size: 20px;
        font-weight: 300;
        color: #ffffff;
        margin: 0 20%;
    }
    .toolbar-background-md {
        border-color: #b2b2b2;
        margin: 0;
        padding: 15px 0px;
        text-align: center;
        color: #fff;
        font-size: 22px;
        font-family: Titillium Web;
        background: linear-gradient(to right, #e46760 , #efb88b);
        font-weight: 300;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 3px !important;
        font-size: 0px;
    }
    .swiper-pagination-bullet-active {
        background: #e4625e !important;
        opacity: 1;
    }
    .swiper-pagination-bullet {
        border-radius: 100%;
        display: inline-block;
        width: 6px !important;
        height: 6px !important;
        pointer-events: auto;
    }
    .swiper-container-android .swiper-slide, .swiper-wrapper {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        height: 50%;
        width: 100%;
    }
    .signin-img{
        text-align: center;
        padding: 10% 0px;
    }
    .img-signin{
        width: 30% !important;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .input-type{
        font-family: Titillium Web;
        font-size: 18px;
        color:#4d606f;
        width: 100% !important;
        padding: 6% 10% !important;
        border: 1px solid #dbdfe2;
    }
    .signin-button{
        width: 100%;
        padding: 5% 0;
        margin: 7% 0px 5% 0;
        background: -webkit-gradient(linear, left top, right top, from(#e3605d), to(#f0b788));
        background: linear-gradient(to right, #e3605d, #f0b788);
        border-color: #efad83;
        font-family: Titillium Web;
        color: #fff;
        font-size: 20px;
    }
    .already-account{
        text-align: center;
        color: #6c7b8a;
        font-family: Titillium Web;
    }
    .create-account{
        text-align: center;
        color: #3c4f5e;
        margin: 18% 0 0 0;
        font-size: 20px;
        font-family: Titillium Web;
    }
    }
    