page-uploadimg {
    
   .upload_button{
    height: 1px;
    padding: 6% 10%;
    margin: 5% 28%;
    font-size: 18px;
    background: red;
    background: linear-gradient(to right, #d30000, #350000);
   }
}