page-membership {
    body{
        font-family:Lato;
    }
    .toolbar-title-md {
        padding: 0 0px;
        font-size: 20px;
        font-weight: 300;
        color: #ffffff !important;
        margin: 0 20%;
    }
    .toolbar-background-md {
        border-color: #b2b2b2;
        margin: 0;
        padding: 15px 0px;
        text-align: center;
        color: #fff;
        font-size: 22px;
        font-family: Titillium Web;
        background: linear-gradient(to right, #e46760 , #efb88b);
        font-weight: 300;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
    .scroll-content {
        padding: 0px !important;
    }
    // .card-header-md {
    //     font-size: 20px;
    //     color: #fff;
    //     background: #e56d5f;
    //     text-align: center;
    //     padding: 5px;
    // }
    // .card-header-md + .card-content-md, .card-md .item + .card-content-md {
    //     padding-top: 1px;
    //     background: #ebebeb;
    //     padding-bottom: 1px;
    // }
    // .card-content-md {
    //     padding: 13px 0px;
    //     font-size: 14px;
    //     line-height: 1.5;
    // }
    // .item-md{
    //     background: #ebebeb;
    // }
    // .item.item-md .checkbox-md {
    //     position: static;
    //     display: block;
    //     margin: 9px 9px 9px 25%;
    // }
    // .checkbox-icon{
    //     border-color: #fff !important;
    // }
    // .input-wrapper{
    //     font-size: 14px;
    // }
    // .button-md-secondary {
    //     color: #fff;
    //     background-color: #e56d5f;
    //     font-size: 12px;
    //     margin: 0px 28% 5%;
    //     border-radius: 5px;
    //     height: 25px;
    //     text-transform: none;
    // }
    // .checkbox-md .checkbox-checked {
    //     background-color: #e56d5f;
    // }
    // .button-md-secondary.activated {
    //     color: #fff;
    //     background-color: #eeac85;
    // }

















    .card-header-md {
        font-size: 20px;
        color: #999;
        background: #ebebeb;
        /* text-align: center; */
        padding: 5px;
    }
    .card-header-md + .card-content-md, .card-md .item + .card-content-md {
        padding-top: 1px;
        background: #ebebeb;
        padding-bottom: 1px;
    }
    .card-content-md {
        padding: 13px 0px;
        font-size: 14px;
        line-height: 1.5;
    }
    .item-md{
        background: #ebebeb;
    }
    .item.item-md .checkbox-md {
        position: static;
        display: block;
        margin: 9px 9px 9px 0%;
    }
    .checkbox-icon{
        border-color: #fff !important;
    }
    .input-wrapper{
        font-size: 14px;
    }
    .button-md-secondary {
        color: #fff;
        background-color: #e56d5f;
        font-size: 12px;
        margin: 0px 10% 5%;
        border-radius: 5px;
        height: 25px;
        text-transform: none;
    }
    .checkbox-md .checkbox-checked {
        background-color: #e56d5f;
    }
    .button-md-secondary.activated {
        color: #fff;
        background-color: #eeac85;
    }
    .button-md-secondary:hover:not(.disable-hover) {
        background-color: #eeb389;
    }







}
