// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-title-md {
    padding: 0 12px;
    font-size: 20px !important;
    font-weight: 500;
    color: #424242;
}
.item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label label-md{
    font-size: 16px;
}
.bar-button-menutoggle-md ion-icon {
    padding: 0 6px;
    font-size: 24px;
}
.list-md .item-block .item-inner {
    border-bottom: none;
}
.item-block {
    min-height: 40px;
}
.tabs-md .tab-button-icon{
    font-size: 24px;
}
.tabs-md .tab-button-text {
    font-size: 12px;
}
.tabs-md .tab-button{
    min-height: 56px;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #e67668 !important;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
    margin-top: 0px !important;
    margin-bottom: 0;
}
.tabs-md .tab-button[aria-selected=true] {
    color: #e67668 !important;
    padding: 0;
}